#search-header {
  text-align: center;
  color: #1890ff;
  font-size: 24px;
  #divider {
    margin: 0 5px;
    font-size: 30px;
  }
  margin-bottom: 20px;
}

nz-input-group {
  width: 70%;
  position: relative;
  left: 15%;
}
