<!-- search box -->
<div class="search-box">
  <input type="text" nz-input placeholder="搜索活动名称" [(ngModel)]="searchValue"/>
  <nz-button-group>
    <button nz-button nzType="primary" (click)="search()">
      <i nz-icon nzType="search"></i>
    </button>
    <button nz-button (click)="reset()">
      <i nz-icon nzType="reload"></i>
    </button>
  </nz-button-group>
</div>

<nz-descriptions *ngFor="let activity of listOfDisplayData.slice((currentPageIndex - 1) *
                 pageSize, currentPageIndex * pageSize); index as activityIndex"
                 nzBordered
                 [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
  <nz-descriptions-item nzTitle="活动名称"> {{activity.activityName}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动编号"> {{activity.activityId}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动类型"> {{activity.type}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动简介"> {{activity.introduction}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="图片介绍"><img src="{{ imgUrl + activity.picture}}"></nz-descriptions-item>
  <nz-descriptions-item nzTitle="操作">
    <nz-button-group>
      <button nz-button nzType="dashed"
              routerLink="/main/detail/{{activity.activityId}}"
      > 查看详情
      </button>
      <!-- 未发布活动特有的三个按钮 -->
      <button *ngIf="status === '0'"
              nz-button nzType="primary"
              (click)="openEditor(activity.activityId)"
      > 编辑活动
      </button>
      <button *ngIf="status === '0'"
              nz-button nzType="danger"
              (click)="showDeleteConfirm(activity.activityId)"
      > 删除活动
      </button>
      <button *ngIf="status === '0'"
              nz-button nzType="default"
              (click)="showConfirm(activity.activityId)"
      > 发布活动
      </button>
    </nz-button-group>
  </nz-descriptions-item>
</nz-descriptions>

<!-- 活动列表为空时的展示 -->
<nz-empty *ngIf="listOfDisplayData.length == 0" nzNotFoundImage="simple"></nz-empty>

<!-- 分页 -->
<nz-pagination *ngIf="listOfDisplayData.length != 0"
               [(nzPageIndex)]="currentPageIndex"
               [nzPageSize]="pageSize"
               [nzTotal]="total"
               nzSimple
               style="text-align: center;"
></nz-pagination>

<!-- 编辑活动 -->
<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <form nz-form
        [formGroup]="activityInfoForm"
        enctype="multipart/form-data"
        ngNativeValidate>
    <!-- 活动名称 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired nzFor="activityName"> 活动名称</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input name="activityName"
               type="text"
               id="activityName"
               [(ngModel)]="activityDetail.activityName"
               formControlName="activityName">
      </nz-form-control>
    </nz-form-item>

    <!-- 活动类型 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="type" nzRequired> 活动类型</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input
               name="type"
               type="text"
               id="type"
               [(ngModel)]="activityDetail.type"
               formControlName="type">
      </nz-form-control>
    </nz-form-item>

    <!-- 活动简介 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="introduction" nzRequired> 活动简介</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
      <textarea nz-input
                name="introduction"
                type="text"
                id="introduction"
                [nzAutosize]="{ minRows: 4, maxRows: 6}"
                [(ngModel)]="activityDetail.introduction"
                formControlName="introduction"
      ></textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- 活动图片简介 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="picture" nzRequired> 活动图片简介</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <input nz-input
               name="picture"
               type="file"
               id="picture"
               accept="image/*"
               (change)="preview($event)"
               formControlName="picture">
        <p id="addImageAlert"></p>
        <!-- 上传封面预览 -->
        <img *ngIf="picture != null" src="{{ imgUrl + activityDetail.picture }}" id="imgPreview"
             style="width: 340px; height: auto"/><br>
      </nz-form-control>
    </nz-form-item>

    <!-- 活动地点 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="venueId" nzRequired> 活动地点</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <nz-select nzShowSearch
                   nzAllowClear
                   nzPlaceHolder="选择活动地点"
                   id="venueId"
                   [(ngModel)]="activityDetail.venueId"
                   formControlName="venueId"
        >
          <nz-option *ngFor="let venue of venueList"
                     nzLabel="{{ venue.campus + ' ' + venue.venueName }}"
                     nzValue="{{ venue.venueId }}"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- 报名人数限制 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="limit" nzRequired> 报名人数限制</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <nz-input-number
          [nzMin]="1" [nzStep]="1"
          id="limit"
          [(ngModel)]="activityDetail.limit"
          formControlName="limit">
        </nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <!-- 活动时间 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="activityTime" nzRequired> 活动时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <nz-range-picker
          nzShowTime
          [(ngModel)]="activityDate"
          [nzDisabledDate]="activityStartDateLimit"
          formControlName="activityTime"
        >
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- 报名时间 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="signUpTime" nzRequired> 报名时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="必填项">
        <nz-range-picker
          nzShowTime
          [(ngModel)]="signUpDate"
          [nzDisabledDate]="signUpStartDateLimit"
          formControlName="signUpTime"
        ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="button-group">
    <button nz-button type="submit" nzType="primary" (click)="submitEditing()"> 确认</button>
    <button nz-button type="button" nzType="dashed" (click)="drawerRef.close()"> 取消</button>
  </div>
</ng-template>


