#activity-type {
  padding: 5px;
  border-radius: 4px;
  border: 1px dashed;
  background-color: lightyellow;
}

nz-card {
  margin-bottom: 15px;
}

.result-container {
  background: #ECECEC;
  padding: 20px;
  border-radius: 10px;
}
