nz-descriptions {
  margin-bottom: 20px;
}

img {
  min-width: 300px;
  max-width: 500px;
  height: auto;
}

.search-box {
  float: right;
  padding: 10px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
}

nz-empty {
  margin-top: 200px;
}
