<!-- search box -->
<div class="search-box">
  <input type="text" nz-input placeholder="搜索活动名称" [(ngModel)]="searchValue" />
  <nz-button-group>
    <button nz-button nzType="primary" (click)="search()">
      <i nz-icon nzType="search"></i>
    </button>
    <button nz-button (click)="reset()">
      <i nz-icon nzType="reload"></i>
    </button>
  </nz-button-group>
</div>

<nz-descriptions *ngFor="let activity of listOfDisplayData.slice((currentPageIndex - 1) *
                 pageSize, currentPageIndex * pageSize); index as activityIndex"
                 nzBordered
                 [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
  <nz-descriptions-item nzTitle="活动名称"> {{activity.activityName}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动编号"> {{activity.activityId}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动类型"> {{activity.type}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="活动简介"> {{activity.introduction}} </nz-descriptions-item>
  <nz-descriptions-item nzTitle="图片介绍"> <img src="{{activity.picture}}"> </nz-descriptions-item>
  <nz-descriptions-item nzTitle="操作">
    <nz-button-group>
      <button nz-button nzType="dashed" routerLink="/main/detail/{{activity.activityId}}"> 查看详情 </button>
    </nz-button-group>
  </nz-descriptions-item>
</nz-descriptions>

<!-- 活动列表为空时的展示 -->
<nz-empty *ngIf="listOfDisplayData.length == 0" nzNotFoundImage="simple"></nz-empty>

<!-- 分页 -->
<nz-pagination *ngIf="listOfDisplayData.length != 0"
               [(nzPageIndex)]="currentPageIndex"
               [nzPageSize]="pageSize"
               [nzTotal]="total"
               nzSimple
               style="text-align: center;"
></nz-pagination>
